/* ====== ADD GOOGLE FONST === */

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    overflow: hidden;
    transition: 0.5s;
}

.navigation ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    cursor: pointer;

}

.navigation ul li:hover a{
 background-color: var(--white);
 color: var(--black1);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}